html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Helvetica", sans-serif;
  background-color: #00ff33;
  color: #80ffb3;
}

.chess-battle-advanced {
  border-radius: 10px;
  border: 1px solid #005000;
  width: 600px;
}

.hi {
  color: #88ff00
}